<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLocation</servlet-name>
        <servlet-class>AddLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategory</servlet-name>
        <servlet-class>EditCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLocation</servlet-name>
        <servlet-class>EditLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelCategory</servlet-name>
        <servlet-class>DelCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>DelCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelLocation</servlet-name>
        <servlet-class>DelLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProperty</servlet-name>
        <servlet-class>EditProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelProperty</servlet-name>
        <servlet-class>DelProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploader</servlet-name>
        <servlet-class>FileUploader</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/addcat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLocation</servlet-name>
        <url-pattern>/addloc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategory</servlet-name>
        <url-pattern>/EditCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLocation</servlet-name>
        <url-pattern>/EditLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelCategory</servlet-name>
        <url-pattern>/DelCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/delcat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelLocation</servlet-name>
        <url-pattern>/DelLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProperty</servlet-name>
        <url-pattern>/EditProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelProperty</servlet-name>
        <url-pattern>/DelProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploader</servlet-name>
        <url-pattern>/fp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>dashboard.jsp</welcome-file>
    </welcome-file-list>
</web-app>
